<div class="backdrop-exercises-modal" data-exercise-modal>
  <div class="exercises-modal">
    <button
      class="exercises-modal-close-button"
      type="button"
      data-exercise-modal-close
    >
      <svg class="exercises-modal-close-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-x"></use>
      </svg>
    </button>
    <span class="span-exercises-modal-loader"></span>
    <div class="exercises-modal-content"></div>
  </div>
  <div class="rating-form-container display-none-style">
    <button type="button" class="close-form-button">
      <svg class="close-form-svg" width="24" height="24">
        <use href="./img/sprite.svg#icon-x"></use>
      </svg>
    </button>
    <form class="rating-form">
      <p class="rating-text">Rating</p>
      <div class="radio-buttons">
        <div class="stars-form-container">
          <svg class="star-form-svg" width="24" height="24">
            <use href="./img/sprite.svg#icon-star"></use>
          </svg>
          <svg class="star-form-svg" width="24" height="24">
            <use href="./img/sprite.svg#icon-star"></use>
          </svg>
          <svg class="star-form-svg" width="24" height="24">
            <use href="./img/sprite.svg#icon-star"></use>
          </svg>
          <svg class="star-form-svg" width="24" height="24">
            <use href="./img/sprite.svg#icon-star"></use>
          </svg>
          <svg class="star-form-svg" width="24" height="24">
            <use href="./img/sprite.svg#icon-star"></use>
          </svg>
        </div>
        <fieldset>
          <p class="user-rating">0.0</p>
          <div class="radios">
            <input type="radio" name="rating" data-rate="1" required />
            <input type="radio" name="rating" data-rate="2" required />
            <input type="radio" name="rating" data-rate="3" required />
            <input type="radio" name="rating" data-rate="4" required />
            <input type="radio" name="rating" data-rate="5" required />
          </div>
        </fieldset>
      </div>
      <input
        class="rate-form-input"
        type="email"
        name="email"
        placeholder="Email"
        required
      />
      <textarea
        class="rate-form-textarea"
        name="comment"
        placeholder="Your comment"
        required
      ></textarea>
      <button type="submit" class="rate-submit-button">Send</button>
    </form>
  </div>
</div>
