<section class="exercises">
  <div class="exercises-container">
    <h2 class="exercises-title">Exercises</h2>
    <div class="buttons-and-form-container">
      <div class="button-container">
        <button type="button" class="choose-category-button">Muscles</button>
        <button type="button" class="choose-category-button">Body parts</button>
        <button type="button" class="choose-category-button">Equipment</button>
      </div>
      <div class="search-container">
        <form class="training-search-form">
          <input type="text" name="exercise-name" placeholder="Search" />
          <button type="submit">
            <svg class="search-svg" width="18" height="18">
              <use href="./img/sprite.svg#search"></use>
            </svg>
          </button>
        </form>
      </div>
    </div>
    <div class="list-container">
      <ul class="search-list"></ul>
    </div>
    <div class="placeholder-container">
      <p>
        Unfortunately, <span>no results</span> were found. You may want to
        consider other search options to find the exercise you are looking for.
        Our range is wide and you have the opportunity to find more options that
        suit your needs.
      </p>
    </div>
  </div>
</section>
