<section class="exercises">
  <div class="exercises-container">
    <div class="title-container">
      <h2 class="exercises-title">Exercises</h2>
    </div>
    <div class="buttons-and-form-container">
      <div class="button-container">
        <button type="button" class="choose-category-button" id="muscles">
          Muscles
        </button>
        <button type="button" class="choose-category-button" id="body-parts">
          Body parts
        </button>
        <button type="button" class="choose-category-button" id="equipment">
          Equipment
        </button>
      </div>
      <div class="search-container">
        <form class="training-search-form display-none">
          <input type="text" name="exercise-name" placeholder="Search" />
          <button type="submit" class="search-button-ex">
            <svg class="search-svg" width="18" height="18">
              <use href="./img/sprite.svg#search"></use>
            </svg>
          </button>
          <button type="button" class="cansel-button-ex display-none">
            <svg class="cross-svg" width="18" height="18">
              <use href="./img/sprite.svg#icon-x"></use>
            </svg>
          </button>
        </form>
      </div>
    </div>
    <!-- <div class="list-container">
      <ul class="search-list"></ul>
    </div> -->
    <div class="placeholder-container"></div>
  </div>
</section>