<footer class="footer-section">
  <div class="footer-container">
    <div class="footer-content-wrap">
      <div class="footer-socials-wrap">
        <a class="footer-logo" href="./index.html">energy.flow</a>

        <ul class="footer-socials-list">
          <li class="footer-socials-items">
            <a
              class="footer-socials-link"
              href="https://www.facebook.com/goITclub"
              target="_blank"
            >
              <svg class="footer-socials-svg" width="20" height="20">
                <use href="./img/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials-items">
            <a
              class="footer-socials-link"
              href="https://www.instagram.com/goitclub"
              target="_blank"
            >
              <svg class="footer-socials-svg" width="20" height="20">
                <use href="./img/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials-items">
            <a
              class="footer-socials-link"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
            >
              <svg class="footer-socials-svg" width="20" height="20">
                <use href="./img/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <h2 class="footer-title">
        Transforming your <span class="title-accent">body</span> shape with us
      </h2>

      <div class="footer-form-wrap">
        <p class="footer-form-text">Subscribe and learn about new exercises!</p>
        <form class="footer-form">
          <label class="footer-form-label" for="user-email"></label>
          <input
            class="footer-form-input"
            type="email"
            name="email"
            id="user-email"
            placeholder="Email"
            autocomplete="off"
          />
          <button class="footer-form-btn" type="submit">Send</button>
        </form>
      </div>
    </div>
    <div class="footer-security-wrap">
      <p class="footer-security-text">Energy Flow. All rights reserved.</p>
      <a href="/" class="footer-security-text"
        >Privacy Policy / Terms of Service</a
      >
    </div>
  </div>
</footer>
