<header class="section header-section">
  <div class="container header-container">
    <nav class="nav">
      <ul>
        <li class="nav-item">
          <a href="./index.html" class="nav-link">energy.flow</a>
        </li>
      </ul>
      <button class="button button-header" type="button" title="Mobile menu">
        <svg class="button-header-icon" width="32" height="16">
          <use href="/src/img/sprite.svg#icon-burger-btn"></use>
        </svg>
      </button>
      <!-- <ul class="header-nav-list">
        <li class="header-socials-item">
          <a
            class="header-socials-linc"
            href="https://www.facebook.com/goITclub"
            target="_blank"
          >
            <svg class="header-socials-svg" width="20" height="20">
              <use href="./img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header-socials-item">
          <a
            class="header-socials-linc"
            href="https://www.instagram.com/goitclub"
            target="_blank"
          >
            <svg class="header-socials-svg" width="20" height="20">
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-socials-item">
          <a
            class="header-socials-linc"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
          >
            <svg class="header-socials-svg" width="20" height="20">
              <use href="./img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul> -->
    </nav>
  </div>
</header>
