<section class="hero-section">
  <header class="header container">
    <div class="header-container">
      <nav class="header-nav">
        <a class="header-logo" href="./index.html">energy.flow</a>
        <ul class="header-nav-list">
          <li class="header-nav-item active">
            <a class="header-nav-link gray" href="./index.html">Home</a>
          </li>
          <li class="header-nav-item">
            <a class="header-nav-link white" href="./favorites.html"
              >Favorites</a
            >
          </li>
        </ul>
      </nav>
      <ul class="header-social-list">
        <li class="header-social-item">
          <a
            class="header-social-link"
            href="https://www.facebook.com/goITclub/"
            rel="noopener noreferrer nofollow"
            target="_blank"
            aria-label="facebook"
          >
            <svg class="social-icon" width="28" height="28">
              <use href="./img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-item">
          <a
            class="header-social-link"
            href="https://www.instagram.com/goitclub/"
            rel="noopener noreferrer nofollow"
            target="_blank"
            aria-label="instagram"
          >
            <svg class="social-icon" width="28" height="28">
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-item">
          <a
            class="header-social-link"
            href="https://www.youtube.com/c/GoIT"
            rel="noopener noreferrer nofollow"
            target="_blank"
            aria-label="youtube"
          >
            <svg class="social-icon" width="28" height="28">
              <use href="./img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <!-- Button mobile-menu -->
      <button class="mobile-menu-btn button-header" type="button">
        <svg class="mobile-menu-icon" width="32" height="16">
          <use href="./img/sprite.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
  </header>
  <div class="hero-content container">
    <div class="photo-hero">
      <div class="hero-link">
        <ul class="list-style-type">
          <li class="link-style">#Sport</li>
          <li class="link-style">#Healthy</li>
          <li class="link-style">#Workout</li>
          <li class="link-style">#Diet</li>
        </ul>
      </div>
    </div>
    <div class="text-hero">
      <div class="text-container">
        <h1 class="hero-title">
          Get <span class="hero-title-accent">Body</span> in shape, Stay healthy
        </h1>
        <p class="hero-text">
          Transform your physique and embrace a healthier lifestyle with our
          comprehensive fitness and nutrition support.
        </p>
      </div>
    </div>
  </div>
</section>
