<div class="backdrop-menu-modal container" data-modal>
  <div class="menu-modal">
    <!-- Modal Header -->
    <div class="menu-modal-header">
      <!-- LOGO -->
      <a class="modal-menu-logo" href="./index.html">energy.flow</a>

      <!-- Button CLOSE -->
      <button class="menu-modal-close-button" type="button" data-modal-close>
        <svg
          class="exercises-modal-close-icon"
          fill="#212121"
          width="24"
          height="24"
        >
          <use href="./img/sprite.svg#icon-x"></use>
        </svg>
      </button>
    </div>

    <!-- Middle Button -->
    <div>
      <div class="exercises-modal-buttons">
        <button class="exercises-modal-button-favorites" type="button">
          Home
          <svg class="exercises-modal-button-icon">
            <use href="./img/sprite.svg#icon-heart"></use>
          </svg>
        </button>
        <button class="exercises-modal-button-rating" type="button">
          Favorites
        </button>
      </div>
    </div>

    <!-- Social Media Links -->

    <div class="modal-menu-socials-wrap">
      <ul class="modal-menu-socials-list">
        <li class="footer-socials-item">
          <a
            class="footer-socials-linc"
            href="https://www.facebook.com/goITclub"
            target="_blank"
          >
            <svg class="footer-socials-svg" width="20" height="20">
              <use href="./img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-socials-item">
          <a
            class="footer-socials-linc"
            href="https://www.instagram.com/goitclub"
            target="_blank"
          >
            <svg class="footer-socials-svg" width="20" height="20">
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-socials-item">
          <a
            class="footer-socials-linc"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
          >
            <svg class="footer-socials-svg" width="20" height="20">
              <use href="./img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
