<div class="backdrop-menu-modal is-hidden">
  <div class="menu-modal">
    <!-- Modal Header -->
    <div class="menu-modal-header">
      <!-- LOGO -->
      <a class="modal-menu-logo" href="./index.html">energy.flow</a>

      <!-- Button CLOSE -->
      <button class="menu-modal-close-button" type="button">
        <svg
          class="menu-modal-close-icon"
          fill="#212121"
          width="20"
          height="20"
        >
          <use href="./img/sprite.svg#icon-x-big-white"></use>
        </svg>
      </button>
    </div>

    <!-- Middle Buttons -->
    <div>
      <div class="modal-menu-buttons">
        <button
          class="modal-menu-button-home"
          type="button"
          onclick="window.location.href = './index.html'"
        >
          Home
        </button>
        <button
          class="modal-menu-button-favorites"
          type="button"
          onclick="window.location.href = './favorites.html'"
        >
          Favorites
        </button>
      </div>
    </div>

    <!-- Social Media Links -->

    <div class="modal-menu-socials-wrap">
      <ul class="modal-menu-socials-list">
        <li class="modal-menu-socials-item">
          <a
            class="modal-menu-socials-linc"
            href="https://www.facebook.com/goITclub"
            target="_blank"
          >
            <svg class="modal-menu-socials-svg" width="20" height="20">
              <use href="./img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="modal-menu-socials-item">
          <a
            class="modal-menu-socials-linc"
            href="https://www.instagram.com/goitclub"
            target="_blank"
          >
            <svg class="modal-menu-socials-svg" width="20" height="20">
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="modal-menu-socials-item">
          <a
            class="modal-menu-socials-linc"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
          >
            <svg class="modal-menu-socials-svg" width="20" height="20">
              <use href="./img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
