<section class="section">
  <div class="container quote-container">
    <div class="quote-block quote-block-title">
      <div class="quote-main-line">
        <div class="icon-man-container">
          <svg class="quote-icon-man">
            <use href="./img/sprite.svg#icon-running-men"></use>
          </svg>
        </div>
        <h2 class="quote-title">Quote of the day</h2>
        <svg class="quote-icon-commas">
          <use href="./img/sprite.svg#icon-inverted-commas"></use>
        </svg>
      </div>
      <div class="quote-text-container">
        <p class="quote-text">
          Quote og the day Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Praesentium magni repellendus vitae aut consectetur eum
          similique error facere velit porro!
        </p>
        <p class="quote-author">Author of Quote</p>
      </div>
    </div>

    <div class="quote-block quote-block-img"></div>
  </div>
</section>
