<section class="section">
  <div class="container recom-section">
    <div class="recom-section-img">
      <picture class="recom-section-pic">
        <source media="(min-width: 1440px)"
          srcset="./img/110min-section/110min-desktop.png 1x, ./img/110min-section/110min-desktop@2x.png 2x" />
        <source media="(min-width: 768px)"
          srcset="./img/110min-section/110min-tablet.png 1x, ./img/110min-section/110min-tablet@2x.png 2x" />
        <source media="(min-width: 375px)"
          srcset="./img/110min-section/110min-mobile.png 1x, ./img/110min-section/110min-mobile@2x.png 2x" />

        <img src="./img/110min-section/110min-desktop.png" alt="pretty-body" />
      </picture>
    </div>
    <div class="recom-section-text">
      <div class="recom-section-container">
        <div class="recom-sec-svg"><svg class="recom-section-icon" width="20" height="20">
            <use href="./img/sprite.svg#icon-dumbbell"></use>
          </svg></div>

        <h3 class="recom-section-heading">110 min</h3>
      </div>
      <div class="recom-section-text-container">
        <p class="recom-section-title">Daily norm of sports</p>
        <p class="recom-section-main-text">The World Health Organization recommends at least 150 minutes of
          moderate-intensity aerobic physical
          activity
          throughout
          the week for adults aged 18-64. However, what happens if we adjust that number to 110 minutes every day?
        </p>
      </div>

    </div>
  </div>
</section>