html {
    scroll-behavior: smooth;
}

.up-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 50px;
    right: 30px;
    width: 40px;
    height: 40px;
    background-color: var(--dark-gray-color);
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.up-btn:hover,
.up-btn:focus {
    background-color: #5F6560;
}

.up-button-icon {
    fill: var(--primary-white-color);
}


.up-btn.is-hidden {
    display: none;
}

@media screen and (min-width:768px) {
    .up-btn {
        width: 50px;
        height: 50px;
    }

    .up-button-icon {
        width: 15px;
        height: 15px;
    }
}

@media screen and (min-width:1440px) {
    .up-btn {
        width: 60px;
        height: 60px;
    }

    .up-button-icon {
        width: 20px;
        height: 20px;
    }
}