li {
    list-style-type: none;
}

.title-container {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    gap: 8px
}

.title-container p {
    color: rgba(27, 27, 27, 0.50);
    font-size: 20px;
    letter-spacing: -0.02em;
}

.placeholder-container {
    position: relative;
}

.search-result-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 20px;
}

.exercises-serch-result {
    width: 100%;
    border-radius: 15px;
    background-color: #ffffff;
    padding: 16px;
    max-height: 165px;
}

.rating-start-container {
    display: flex;
    margin-bottom: 25px;
    justify-content: space-between;
}

.rating {
    display: flex;
    align-items: center;
    gap: 16px
}

.rating p {
    padding: 0;
    width: auto;
}

.rating .workout {
    border-radius: 15px;
    background-color: #7E847F;
    padding: 5px 8px;
    text-transform: uppercase;
    color: #F6F6F6;
    font-size: 12px;
    font-weight: 500;
}

.rating-cont {
    display: flex;
    align-items: center;
    gap: 4px;
}

.rating .rating-num {
    color: #1B1B1B;
    font-size: 12px;
    line-height: 1.5px;
}

.rating-star-svg {
    fill: #EEA10C;
    padding-bottom: 2px;
}

.start-button-container button {
    padding: 0;
    gap: 8px;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    font-size: 14px;
    line-height: 1.28;
    transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.start-button-container button:hover {
    transform: scale(1.1);
}

.exercise-name {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 16px;
}

.exercise-name h2 {
    overflow: hidden;
    color: #1B1B1B;
    font-size: 20px;
    font-weight: 400;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
}

.additional-information {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    justify-content: flex-start;
}

.additional-information p {
    width: auto;
    padding: 0;
    text-align: start;
    color: rgba(27, 27, 27, 0.40);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

.additional-information .info-from-back {
    color: #1B1B1B;
}

.pagination-counter {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex-wrap: nowrap;
    width: 270px;
    row-gap: 0px;

}

.one-count {
    color: rgba(27, 27, 27, 0.40);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.exercises-margin-for-pagin {
    margin-bottom: 20px;
}

.active-count {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1B1B1B;
    border: 1px solid #1B1B1B;
    border-radius: 100%;
    height: 32px;
    width: 32px;
    text-align: center;
}

.additional-margin {
    margin-bottom: 52px;
}

.display-none {
    display: none;
}


@media screen and (min-width: 768px) {
    .title-container {
        margin-bottom: 32px;
        align-items: end;
    }

    .title-container p {
        font-size: 24px;
        line-height: 1.33;
    }

    .search-result-list {
        gap: 14px;
        row-gap: 20px;
        margin-top: 55px;
        margin-bottom: 64px;
    }

    .exercises-serch-result {
        width: calc((100% - 14px) / 2);
    }

    .start-button-container button {
        font-size: 16px;
        line-height: 1.5;
    }

    .start-svg {
        width: 20px;
        height: 20px;
    }

    .exercise-name {
        margin-bottom: 8px;
    }

    .exercise-name h2 {
        font-size: 24px;
        line-height: 1.33;

    }

    .styles-for-ex-search-results {
        min-height: 736px;
    }
}

@media screen and (min-width: 1440px) {

    .search-result-list {
        gap: 20px;
        row-gap: 28px;
        margin-top: 32px;
    }

    .exercises-serch-result {
        width: calc((100% - 40px) / 3);
    }

    .additional-margin {
        margin-bottom: 64px;
    }

    .styles-for-ex-search-results {
        min-height: 827px;
    }
}

/* scroll try */