.backdrop-exercises-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: rgba(27, 27, 27, 0.6);
    transform: translateX(150%);
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.is-open {
    transform: translateX(0);
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.exercises-modal {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-white-color);
    border-radius: 20px;
    padding: 40px 20px;
    width: 335px;
    min-height: 298px;
}

@media screen and (max-width:767px) {
    .exercises-modal {
        top: 0;
    }
}

@media screen and (min-width:768px) and (max-width:1439px) {
    .exercises-modal {
        width: 716px;
        min-height: 470px;
        padding: 40px;
    }
}

@media screen and (min-width:1440px) {
    .exercises-modal {
        width: 732px;
        min-height: 433px;
        padding: 40px;
    }
}

.exercises-modal-content {
    display: block;
}

@media screen and (min-width:768px) and (max-width:1439px) {
    .exercises-modal-content {
        display: flex;
        justify-content: center;
        gap: 24px;
    }
}

@media screen and (min-width:1440px) {
    .exercises-modal-content {
        display: flex;
        justify-content: center;
        gap: 40px;
    }
}


/* -------------------------  modal-gif  ------------------------- */

.exercises-modal-gif-container {
    background-color: var(--light-gray-color);
    width: 295px;
    height: 258px;
    overflow: hidden;
    border-radius: 12px;
}

@media screen and (min-width:768px) {
    .exercises-modal-gif-container {
        width: 270px;
        height: 259px;
    }
}

/* -------------------------  modal-title  ------------------------- */

.exercises-modal-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.0;
    color: var(--main-black-color);
    margin-top: 20px;
    margin-bottom: 10px;
}

@media screen and (min-width:768px) {
    .exercises-modal-title {
        font-size: 24px;
        line-height: 1.33;
        margin: 0 0 8px;
    }
}

.exercises-modal-title::first-letter {
    text-transform: uppercase;
}

/* -------------------------  rating  ------------------------- */

.exercises-modal-rating {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
}

@media screen and (min-width:768px) {
    .exercises-modal-rating {
        margin-bottom: 16px;
    }
}

.exercises-modal-rating-number {
    font-size: 12px;
    line-height: 1.5;
}

.exercises-modal-stars-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.exercises-modal-star-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13px;
    height: 13px;
}

.exercises-modal-star-icon {
    fill: var(--main-black-modal-elements);
    width: 100%;
    height: 100%;
}

.selected-stars {
    fill: var(--yellow-star);
}

/* -------------------------  exercises-modal-block  ------------------------- */

.exercises-modal-block-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px 0;
    border-top: 1px solid var(--main-black-modal-elements);
    border-bottom: 1px solid var(--main-black-modal-elements);
}

@media screen and (min-width:320px) and (max-width:767px) {
    .exercises-modal-block-list {
        width: 295px;
    }
}

@media screen and (min-width:768px) {
    .exercises-modal-block-list {
        width: 342px;
        gap: 16px;
        padding: 8px 0;
    }
}

.exercises-modal-block-title {
    font-size: 12px;
    line-height: 1.5;
    color: var(--main-black-color-disable);
}

.exercises-modal-block-title::first-letter {
    text-transform: uppercase;
}

.exercises-modal-block-paragraf {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    color: var(--main-black-color);
}

.exercises-modal-block-paragraf::first-letter {
    text-transform: uppercase;
}

.lowercase-text {
    text-transform: lowercase;
}

/* -------------------------  exercises-modal-text  ------------------------- */

.exercises-modal-container-text {
    margin: 20px 0 40px;
    display: block;
}

.exercises-modal-text-scroll {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--dark-gray-color);
}

.exercises-modal-text {
    margin: 0;
    font-size: 14px;
    line-height: 1.3;
}

@media screen and (min-width:320px) and (max-width:767px) {
    .exercises-modal-container-text {
        width: 295px;
    }
}

@media screen and (min-width:768px) {
    .exercises-modal-container-text {
        margin: 16px 0 32px;
        width: 342px;
        max-height: 108px;
    }
}

/* -------------------------  buttons  ------------------------- */

.exercises-modal-close-button {
    background-color: transparent;
    position: absolute;
    top: 14px;
    right: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
    padding: 0;
}

@media screen and (min-width:768px) {
    .exercises-modal-close-button {
        top: 16px;
        right: 16px;
    }
}

.exercises-modal-close-button:hover,
.exercises-modal-close-button:focus {
    transform: scale(1.1);
    transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.exercises-modal-close-icon {
    fill: var(--main-black-color);
    width: 24px;
    width: 24px;
}

@media screen and (min-width:768px) {
    .exercises-modal-close-icon {
        width: 28px;
        height: 28px;
    }
}

.exercises-modal-close-icon:hover,
.exercises-modal-close-icon:focus {
    fill: var(--dark-gray-color);
}

.exercises-modal-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 9px;
}

@media screen and (min-width:768px) {
    .exercises-modal-buttons {
        flex-direction: row;
        gap: 7px;
    }
}

.exercises-modal-button-favorites {
    background-color: var(--dark-gray-color);
    border-style: none;
    color: var(--primary-white-color);
    font-size: 14px;
    line-height: 1.3;
    width: 295px;
    height: 42px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width:768px) {
    .exercises-modal-button-favorites {
        font-size: 16px;
        line-height: 1.5;
        width: 194px;
        height: 48px;
    }
}

.exercises-modal-button-favorites:hover,
.exercises-modal-button-favorites:focus {
    background-color: #5F6560;
}

.exercises-modal-button-remove {
    background-color: var(--dark-gray-color);
    border-style: none;
    color: var(--primary-white-color);
    font-size: 14px;
    line-height: 1.3;
    width: 295px;
    height: 42px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width:768px) {
    .exercises-modal-button-remove {
        font-size: 16px;
        line-height: 1.5;
        width: 194px;
        height: 48px;
    }
}

.exercises-modal-button-remove:hover,
.exercises-modal-button-remove:focus {
    background-color: #5F6560;
}

.exercises-modal-button-icon {
    width: 18px;
    height: 18px;
    margin-left: 8px;
}

@media screen and (min-width:768px) {
    .exercises-modal-button-icon {
        width: 20px;
        height: 20px;
    }
}

.exercises-modal-button-rating {
    border: 1px solid var(--main-black-color);
    color: var(--main-black-color);
    font-size: 14px;
    line-height: 1.3;
    width: 295px;
    height: 42px;
    border-radius: 30px;
    padding: 12px 0;
}

@media screen and (min-width:768px) {
    .exercises-modal-button-rating {
        font-size: 16px;
        line-height: 1.5;
        width: 141px;
        height: 48px;
    }
}

.exercises-modal-button-rating:hover,
.exercises-modal-button-rating:focus {
    border: 1px solid var(--dark-gray-color);
    color: var(--dark-gray-color);
}

.hidden-button {
    display: none;
}

/* -------------------------  loader  ------------------------- */

.exercises-modal-loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    margin: 32px auto;
    border-top: 4px solid var(--dark-gray-color);
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.exercises-modal-loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-bottom: 4px solid var(--dark-gray-color);
    border-left: 4px solid transparent;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* -------------------------  scroll  ------------------------- */

.scroll-on {
    overflow-y: scroll
  }

  #scrollTry::-webkit-scrollbar-track {

    -webkit-box-shadow: inset 0 0 6px trasparent;
    border-radius: 12px;
    background-color: #E8E8E8;
  }

  #scrollTry::-webkit-scrollbar {
    width: 6px;
    background-color: #E8E8E8;
  }

  #scrollTry::-webkit-scrollbar-thumb {

    border-radius: 12px;
    -webkit-box-shadow: inset 0 0 6px var(--dark-gray-color);
    background: var(--primary-white-color-bg-icon);
  }