/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./modal-menu.css');
@import url('./arrow-button.css');

/* ------------FONTS------------ */

/* dm-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/dm-sans-v14-latin-regular.woff2') format('woff2'),
    url('../fonts/dm-sans-v14-latin-regular.ttf') format('truetype');
}

/* dm-sans-italic - latin */
@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/dm-sans-v14-latin-italic.woff2') format('woff2'),
    url('../fonts/dm-sans-v14-latin-italic.ttf') format('truetype');
}

/* dm-sans-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/dm-sans-v14-latin-500.woff2') format('woff2'),
    url('../fonts/dm-sans-v14-latin-500.ttf') format('truetype');
}

:root {
  font-family: 'DM Sans';
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;

  --primary-white-color: #f6f6f6;
  --primary-white-color-bg-icon: rgba(246, 246, 246, 0.1);
  --primary-white-color-footer-stroke: rgba(246, 246, 246, 0.2);
  --primary-white-color-footer-text: rgba(246, 246, 246, 0.3);
  --primary-white-color-filter-text: rgba(246, 246, 246, 0.4);
  --primary-white-color-secondary-text: rgba(246, 246, 246, 0.6);
  --white-color: #fff;
  --dark-gray-color: #7e847f;
  --dark-gray-color-stroke: rgba(126, 132, 127, 0.2);
  --light-gray-color: #e8e8e8;
  --main-black-color: #1b1b1b;
  --main-black-modal-elements: rgba(27, 27, 27, 0.2);
  --main-black-color-disable: rgba(27, 27, 27, 0.4);
  --main-black-gray-text: rgba(27, 27, 27, 0.5);
  --main-black-modal: rgba(27, 27, 27, 0.6);
  --yellow-star: #eea10c;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* -----------CONTAINER------------ */

.container {
  width: 100%;
  margin: 0 auto;
}

.section {
  padding: 20px 0;
}

@media screen and (min-width: 320px) and (max-width: 767.98px) {
  .container {
    max-width: 375px;
    padding: 0 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .container {
    max-width: 768px;
    padding: 0 15px;
  }

  .section {
    padding: 16px 0;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 16px;
  }
}

/* ------------BASE STYLES------------ */

body {
  color: #1b1b1b;
  background-color: #f6f6f6;
}

/* ----------------HEADER--------------- */

.header {
  padding-top: 29px;
  padding-bottom: 27px;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 48px;
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    padding-top: 28px;
    padding-bottom: 64px;
  }
}

.header-container {
  display: flex;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

@media screen and (min-width: 768px) {
  .header-container {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (min-width: 1440px) {
  .header-container {
    padding-left: 64px;
    padding-right: 80px;
    height: 64px;
  }
}

.header-nav {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1440px) {
  .header-nav {
    align-self: flex-end;
  }
}

.header-logo {
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -0.02em;
  color: #1b1b1b;
}

@media screen and (min-width: 768px) {
  .header-logo {
    width: 150px;

    font-size: 28px;
    line-height: 1;

    margin-right: 76px;
  }
}

@media screen and (min-width: 1440px) {
  .header-logo {
    margin-right: 397px;
  }
}

.header-nav-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 28px 8px 12px;
    border-radius: 30px;
    background-color: #7e847f;
  }
}

.header-nav-item {
  padding: 6px 16px;
  border-radius: 30px;
  color: #f6f6f6;
  background-color: transparent;
}

.header-nav-item.active {
  padding: 6px 14px;
  color: #1b1b1b;
  background-color: #fff;
}

.header-nav-link {
  line-height: 1.5;
}

.header-social-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-social-list {
    display: flex;
    gap: 12px;

    margin-left: auto;
  }
}

@media screen and (min-width: 1440px) {
  .header-social-list {
    align-self: flex-start;
  }
}

.header-social-item {
  width: 44px;
  height: 44px;
}
.header-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: #7e847f;
  border: 1px solid rgba(126, 132, 127, 0.2);
  border-radius: 10px;
  padding: 8px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-social-link:hover,
.header-social-link:focus {
  color: #5f6560;
}

.social-icon {
  fill: currentColor;
}

/* ----------HEADER MOBILE-MENU-BTN---------- */

.mobile-menu-btn {
  padding: 0;
  margin-left: auto;

  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}

.mobile-menu-icon {
  stroke: #7e847f;
}

/* ----------------SECTION INFO--------------- */

.info {
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .info-container {
    display: flex;
    flex-wrap: wrap;
  }
}

/* -------------info-quote------------- */

.info-quote {
  position: relative;
  height: 272px;
  border-radius: 30px;
  background-color: #7e847f;
}

@media screen and (min-width: 768px) {
  .info-quote {
    width: 736px;
    height: 302px;
    border-radius: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .info-quote {
    width: 704px;
    height: 302px;
  }
}

.info-quote {
  padding: 42px 20px 40px 66px;
}

@media screen and (min-width: 768px) {
  .info-quote {
    padding: 64px 80px 64px 130px;
  }
}

@media screen and (min-width: 1440px) {
  .info-quote {
    padding: 64px 64px 64px 114px;
  }
}

.info-quote-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  color: #f6f6f6;

  margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
  .info-quote-title {
    font-size: 24px;
    line-height: 1.33;

    margin-bottom: 16px;
  }
}

.info-quote-cont {
  font-size: 14px;
  line-height: 1.29;
  color: rgba(246, 246, 246, 0.6);

  margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
  .info-quote-cont {
    font-size: 16px;
    line-height: 1.5;

    margin-bottom: 25px;
  }
}

.info-quote-author {
  font-weight: 500;
  line-height: 1.5;
  color: #f6f6f6;
}

/* -------------info-img------------- */

.info-img {
  height: 272px;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* Mobile screen */
  background-image: url(../img/favorites-section/fav-mobile.png);
}

/* retina mobile screen */
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .info-img {
    background-image: url(../img/favorites-section/fav-mobile@2x.png);
  }
}

/* Tablet screen */
@media screen and (min-width: 768px) {
  .info-img {
    width: 368px;
    height: 302px;
    border-radius: 50px;
    background-image: url(../img/favorites-section/fav-tablet.png);
  }

  /* retina tablet screen */
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .info-img {
      background-image: url(../img/favorites-section/fav-tablet@2x.png);
    }
  }
}

/* PC screen */
@media screen and (min-width: 1440px) {
  .info-img {
    width: 352px;
    height: 302px;
    background-image: url(../img/favorites-section/fav-desktop.png);
  }

  /* retina tablet screen */
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .info-img {
      background-image: url(../img/favorites-section/fav-desktop@2x.png);
    }
  }
}

/* -------------info-advice------------- */

.info-advice {
  height: 272px;
  padding: 96px 101px;
  border-radius: 30px;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .info-advice {
    width: 368px;
    height: 302px;
    border-radius: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .info-advice {
    width: 352px;
    height: 302px;
  }
}

.info-advice-pict {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 20px;
  height: 20px;
  margin-bottom: 15px;
}

.info-advice-time {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: #1b1b1b;
  margin-bottom: 6px;
}
.info-advice-text {
  font-size: 14px;
  line-height: 1.29;
  color: rgba(27, 27, 27, 0.6);
}

/* -------------info-icon------------- */

.info-icon-wrap {
  position: absolute;
  top: 40px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;
  background-color: rgba(246, 246, 246, 0.1);
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .info-icon-wrap {
    top: 64px;
    left: 80px;
  }
}

@media screen and (min-width: 1440px) {
  .info-icon-wrap {
    top: 64px;
    left: 64px;
  }
}

.info-marks-wrap {
  position: absolute;
  top: 40px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 28px;
  height: 28px;
}

@media screen and (min-width: 768px) {
  .info-marks-wrap {
    top: 32px;
    right: 80px;

    width: 48px;
    height: 48px;
  }
}

@media screen and (min-width: 1440px) {
  .info-marks-wrap {
    top: 32px;
    right: 64px;
  }
}

/* -------------- SECTION FAVORITES------------ */

/* --------------SECTION FAVORITES------------ */

.favor {
  outline: 1px solid red;
  outline-offset: -2px;
}
.favor-container {
  outline: 1px solid red;
  outline-offset: -2px;
}

/* favor-wrapper */

.favor-wrapper {
  background-color: #e8e8e8;
  border-radius: 30px;
  min-height: 450px;
  max-height: 1592px;

  padding: 40px 20px;

  outline: 1px solid red;
  outline-offset: -2px;
}

@media screen and (min-width: 768px) {
  .favor-wrapper {
    padding: 64px 48px;
    width: 736px;
    height: 928px;
    border-radius: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .favor-wrapper {
    width: 1408px;
    height: 687px;

    padding: 64px 48px;
  }
}

/* favor-title */

.favor-title {
  padding-top: 40px;
  margin-bottom: 20px;

  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
}

@media screen and (min-width: 768px) {
  .favor-title {
    padding-top: 64px;
    margin-bottom: 32px;

    font-size: 44px;
    line-height: 1.09;
  }
}

@media screen and (min-width: 1440px) {
  .favor-title {
    padding-top: 64px;
    margin-bottom: 32px;
  }
}

/* favor-content */

.favor-content {
  outline: 1px solid red;
  outline-offset: -2px;
}

.favor-plug-wrap {
  padding-top: 60px;
  padding-left: 24px;
  padding-right: 24px;
}

@media screen and (min-width: 768px) {
  .favor-plug-wrap {
    padding-top: 176px;
    padding-left: 43px;
    padding-right: 43px;
  }
}

@media screen and (min-width: 1440px) {
  .favor-plug-wrap {
    padding-top: 114px;
    padding-left: 379px;
    padding-right: 379px;
  }
}

.favor-icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 28px;
}

.favor-icon-item {
  width: 85px;
  height: 52px;
}

@media screen and (min-width: 768px) {
  .favor-icon-item {
    width: 115px;
    height: 71px;
  }
}

.favor-text {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .favor-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
  }
}
