/* Mobile */

.footer-section {
    width: 375px;
    margin: 0 auto 20px;
    padding: 0 20px;
}

.footer-container {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 30px;
    background-image: url(../img/footer/footer-mobile.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-logo {
    display: inline-block;
    color: var(--primary-white-color);
    font-family: "DM Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -0.02em;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo:hover,
.footer-logo:focus {
    transform: scale(1.1);
}

.footer-socials-list {
    display: flex;
    gap: 12px;
    width: 132px;
    margin-top: 9px;
    margin-bottom: 40px;
}

.footer-socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border: 1px solid var(--primary-white-color-footer-stroke);
    border-radius: 10px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
    border-color: var(--primary-white-color);
}


.footer-socials-svg {
    fill: var(--primary-white-color);
}

.footer-title {
    color: var(--primary-white-color);
    font-family: "DM Sans";
    font-size: 32px;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
    width: 279px;
}

.title-accent {
    font-style: italic;
    font-family: "DM Sans";
    color: var(--primary-white-color-footer-stroke);
}

.footer-form-wrap {
    width: 295px;
    margin-bottom: 60px;
}

.footer-form-text {
    color: var(--primary-white-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    margin-bottom: 20px;
}

.footer-form-input {
    width: 100%;
    height: 42px;
    padding: 12px 14px;
    color: var(--primary-white-color);
    background-color: transparent;
    outline: none;
    border: 1px solid var(--primary-white-color);
    border-radius: 30px;
    margin-bottom: 12px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-input:hover,
.footer-form-input:focus {
    border-color: var(--dark-gray-color);
}

.footer-form-btn {
    background-color: var(--dark-gray-color);
    color: var(--primary-white-color);
    width: 100%;
    height: 42px;
    border-radius: 30px;
    border: none;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
    background-color: #5F6560;
}

.footer-security-text {
    color: var(--primary-white-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 0.83;
    margin-bottom: 10px;
}


@media only screen and (min-resolution: 192dpi) {
    .footer-container {
        background-image: url(../img/footer/footer-mobile@2x.png);
    }
}

/* Tablet */

@media screen and (min-width:768px) {
    .footer-section {
        margin: 0 auto 16px;
        width: 768px;
    }

    .footer-container {
        margin: 0 auto;
        width: 100%;
        height: auto;
        padding: 66px 48px 32px 48px;
        border-radius: 50px;
        background-image: url(../img/footer/footer-tablet.png);
    }

    .footer-content-wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-logo {
        font-size: 28px;
    }

    .footer-socials-list {
        width: 156px;
        margin-top: 30px;
    }

    .footer-socials-link {
        width: 44px;
        height: 44px;
    }

    .footer-socials-svg {
        width: 28px;
        height: 28px;
    }

    .footer-title {
        font-size: 54px;
        margin-bottom: 32px;
        margin-left: auto;
        width: 345px;
    }

    .footer-form-wrap {
        width: 352px;
        margin-left: auto;
        margin-bottom: 120px;
    }

    .footer-form-input {
        height: 48px;
        margin-bottom: 20px;
    }

    .footer-form-btn {
        height: 48px;
    }

    .footer-form-text {
        font-size: 18px;
        line-height: 1.33;
        margin-bottom: 20px;
    }

    .footer-security-wrap {
        display: flex;
        justify-content: center;
        gap: 32px;
    }

    .footer-security-text {
        font-size: 14px;
        line-height: 1.23;
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .footer-container {
        background-image: url(../img/footer/footer-tablet@2x.png);
    }
}

/* Desktop */

@media screen and (min-width:1440px) {
    .footer-section {
        margin: 0 auto 16px;
        width: 1440px;
    }

    .footer-container {
        margin: 0 auto;
        width: 100%;
        height: auto;
        padding: 66px 48px 26px 48px;
        border-radius: 50px;
        background-image: url(../img/footer/footer-desktop.png);
    }

    .footer-title {
        font-size: 64px;
        width: 488px;
    }

    .footer-form-wrap {
        margin-bottom: 186px;
    }
}

@media only screen and (min-width: 1440px) and (min-resolution: 192dpi) {
    .footer-container {
        background-image: url(../img/footer/footer-desktop@2x.png);
    }
}