.header {
  padding-top: 20px;
}

.head-container {
  margin-bottom: 20px;
  min-height: 387px;
  padding: 20px;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(213, 197, 197, 0.1),
      rgba(227, 212, 212, 0.1)),
    url('../img/hero/hero-mobile-webp.webp');
}

.nav-container {
  margin-bottom: 281px;
}

.button-header {
  border: none;
  background-color: #e8e8e8;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav-list {
  display: none;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}

.hero-link {
  display: flex;
  flex-wrap: wrap;
  width: 141px;
  height: 48px;
  margin-left: -10px
}

.list-style-type {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  padding: 0;
  margin: 0;
  color: #fff;
}

.link-style {
  flex: 0 0 calc(50% - 20px);
  padding: 4px 10px;
  border: 1px solid rgba(233, 225, 225, 0.3);
  border-radius: 30px;
  font-size: 12px;
  line-height: 1;
  height: 22px;
}

.text-container {
  min-height: 387px;
  padding: 0 20px;
  background-color: #ffffff;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-family: 'DM Sans';
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -0.04em;
  padding-bottom: 20px;
  padding-top: 60px;
}

.hero-title-accent {
  font-style: italic;
  color: #7e847f;
}

.hero-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
}

@media only screen and (min-resolution: 192dpi) {
  .head-container {
    background-image: linear-gradient(rgba(213, 197, 197, 0.1),
        rgba(227, 212, 212, 0.1)),
      url(../img/hero/hero-mobile-webp-@2x.webp);
  }
}

@media screen and (max-width: 768px) {
  .header-toggle-switch {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    margin: 0 auto;
  }

  .button-header {
    display: none;
  }

  .header-toggle-switch {
    display: flex;
    background-color: #cccccc;
    border-radius: 20px;
    width: 211px;
    height: 52px;
    padding: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  }

  .button-header-fav {
    margin: 0px 16px;
    padding: 6px 26px 6px 26px;
    width: 96px;
    color: rgb(126, 132, 127);
    border-radius: 60px;

    border-radius: 30px;
    border: none;
    background: rgb(255, 255, 255);
  }

  .toggle-button {
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 1.5;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
  }

  .nav-link {
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;
  }

  .header-nav-list {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .header-socials-svg {
    fill: rgb(126, 132, 127);
    background: rgb(251, 253, 252);
  }

  .header-socials-linc {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border: 1px solid rgba(246, 246, 246, 0.2);
    border-radius: 10px;
  }

  .header-social-link:hover,
  .header-social-link:focus {
    color: #5f6560;
  }

  .head-container {
    background-image: none;
    min-height: 40px;
    padding: 0 auto;
    margin: 0 auto;
    margin-bottom: 147px;
  }

  .nav-container {
    margin-bottom: 0px;
  }

  .header-container {
    position: relative;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(213, 197, 197, 0.1),
        rgba(227, 212, 212, 0.1)),
      url(../img/hero/hero-tablet-webp.webp);
    min-height: 900px;
  }

  .text-container {
    position: relative;

    left: 264px;

    margin-left: auto;
    margin-right: auto;
  }

  .hero-title {
    font-family: DM Sans;
    font-size: 98px;

    width: 424px;

    text-align: left;
  }

  .hero-text {
    position: static;
    width: 396px;
    height: 72px;
    padding: 0px;
    margin: 25px 0px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -1%;
    text-align: left;
  }
}

@media screen and (min-width: 1440px) {
  .header-container {
    margin: 16px auto;
    max-width: 1440px;
    width: 100%;
    position: relative;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(213, 197, 197, 0.1),
        rgba(227, 212, 212, 0.1)),
      url(/img/hero/hero-desktop-webp.webp);
    min-height: 900px;
  }

  .head-container {
    padding: 0 auto;
    margin: 0 auto;
    margin-bottom: 147px;
  }

  .text-container {
    position: absolute;
    width: 640px;
    height: 418px;
    left: 736px;
    right: 32px;
    top: 225px;
    bottom: 241px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
  }
}