/* .header {
  margin: 20px auto;
  width: 375px;
  padding: 0 20px;
} */

.head-container {
  margin-bottom: 20px;
  min-height: 387px;
  padding: 20px;
  /* background-color: rgb(232, 232, 232); */
  border-radius: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(213, 197, 197, 0.1),
      rgba(227, 212, 212, 0.1)
    ),
    url('../img/hero/hero-mobile-webp.webp');
}

.nav-container {
  margin-bottom: 281px;
}

.button-header {
  border: none;
  background-color: #e8e8e8;
}

.button-header-icon {
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav-list {
  display: flex;
  align-items: center;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}
.hero-link {
  display: flex;
  flex-wrap: wrap;
  width: 141px;
  height: 48px;
}
.list-style-type {
  display: flex;
  flex-wrap: wrap;
  /* line-height: 41px; */
  gap: 4px;
  padding: 0;
  margin: 0;
  color: #fff;
}

.link-style {
  flex: 0 0 calc(50% - 20px);
  padding: 4px 10px;
  border: 1px solid rgba(233, 225, 225, 0.3);
  border-radius: 30px;
  /* width: 61px;
  height: 22px; */
  font-size: 12px;
  line-height: 1.5;
}
.text-container {
  /* border: 2px solid #f7f1f1; */
  min-height: 387px;

  padding: 0 20px;
  background-color: #ffffff;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  font-family: 'DM Sans';
  text-align: center;

  font-size: 32px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -0.04em;
  padding-bottom: 20px;
  padding-top: 60px;
}
.hero-title-accent {
  font-style: italic;
  color: #7e847f;
}
.hero-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
}
@media only screen and (min-resolution: 192dpi) {
  .head-container {
    background-image: linear-gradient(
        rgba(213, 197, 197, 0.1),
        rgba(227, 212, 212, 0.1)
      ),
      url(../img/hero/hero-mobile-webp-@2x.webp);
  }
}
/* @media (max-width: 320px) {
  button-header {
    display: block;
  }
} */

@media screen and (min-width: 768px) {
  .button-header {
    display: none;
  }
  .head-container {
    background-image: none;
    min-height: 40px;
    padding: 0 auto;
    margin: 0 auto;
  }

  .nav-container {
    margin-bottom: 0px;
  }

  .header-container {
    border-radius: 50px;
    background-repeat: no-repeat;

    background-image: linear-gradient(
        rgba(213, 197, 197, 0.1),
        rgba(227, 212, 212, 0.1)
      ),
      url(../img/hero/hero-tablet-webp.webp);

    min-height: 900px;
  }

  @media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
    /* .header-container {
      background-image: url(../img/hero/hero-tablet-webp@2x.webp);
    } */
  }

  .text-container {
    border: 2px solid #f7f1f1;
    min-height: 477px;
    width: 424px;
    max-width: 231px;
    margin-left: 296px;
    margin-right: 46px;
    padding-bottom: 192px;
    background-color: #ffffff;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  /* .hero-link {
    width: 141px;
    height: 48px;
    position: absolute;
    bottom: 64px;
    transform: translateY(100%);
  } */
}

/* @media screen and (min-width:1440px) {
  . {
      margin: 16px auto;
      max-width: 1440px;
      width: 100%;
  } */
