
@media screen and (min-width:768px) {
    .backdrop-menu-modal {
        display:none;
    }
}

/* Modal Menu Header */

.menu-modal-header {
    display: flex;
    justify-content: space-between;
}

.menu-modal {
    background-color: var(--dark-gray-color);
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    padding: 40px 20px;
    height: 100vh;
    margin-top: auto;
    margin-bottom: 30px;
    justify-content: space-between;
}
.modal-menu-logo {
    color: #fafafa;
    font-family: "DM Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -0.02em;
}

.menu-modal-close-button {
    background-color: var(--dark-gray-color);
    border: none;
}

/* Modal Menu Socials */

.modal-menu-socials-list{
    display: flex;
    justify-content: center;
    gap: 12px;
}

.modal-menu-socials-item {
    width: 41px;
    height: 41px;
    border: 1px solid rgba(246, 246, 246, 0.2);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.modal-menu-socials-linc {
    display: flex;
    text-align: center;
}


.modal-menu-socials-svg {
    fill: rgba(246, 246, 246, 0.8);
}

.modal-menu-socials-svg:hover {
    fill: #fafafa;
}

 .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  } 

  .modal-open {
    overflow: hidden;
  }

  .no-scroll {
    overflow: hidden;
  } 