/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header-hero.css');
@import url('./modal-menu.css');
@import url('./quote-of-the-day.css');
@import url('./exercises-body-parts.css');
@import url('./exercises-equipment.css');
@import url('./exercises-modal.css');
@import url('./recommendation-section.css');
@import url('./footer.css');
@import url('./arrow-button.css');
@import url('./modal-rating.css');

/* dm-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/dm-sans-v14-latin-regular.woff2') format('woff2'),
    url('../fonts/dm-sans-v14-latin-regular.ttf') format('truetype');
}

/* dm-sans-italic - latin */
@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/dm-sans-v14-latin-italic.woff2') format('woff2'),
    url('../fonts/dm-sans-v14-latin-italic.ttf') format('truetype');
}

/* dm-sans-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/dm-sans-v14-latin-500.woff2') format('woff2'),
    url('../fonts/dm-sans-v14-latin-500.ttf') format('truetype');
}

:root {
  font-family: "DM Sans";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;

  --primary-white-color: #F6F6F6;
  --primary-white-color-bg-icon: rgba(246, 246, 246, 0.1);
  --primary-white-color-footer-stroke: rgba(246, 246, 246, 0.2);
  --primary-white-color-footer-text: rgba(246, 246, 246, 0.3);
  --primary-white-color-filter-text: rgba(246, 246, 246, 0.4);
  --primary-white-color-secondary-text: rgba(246, 246, 246, 0.6);
  --white-color: #fff;
  --dark-gray-color: #7E847F;
  --dark-gray-color-stroke: rgba(126, 132, 127, 0.2);
  --light-gray-color: #E8E8E8;
  --main-black-color: #1B1B1B;
  --main-black-modal-elements: rgba(27, 27, 27, 0.2);
  --main-black-color-disable: rgba(27, 27, 27, 0.4);
  --main-black-gray-text: rgba(27, 27, 27, 0.5);
  --main-black-modal: rgba(27, 27, 27, 0.6);
  --yellow-star: #EEA10C;


  color: #242424;
  background-color: var(--primary-white-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.section {
  padding: 20px 0;
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  body {
    zoom: 0.85;
  }

  .up-btn {
    right: 60px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767.98px) {
  .container {
    min-width: 320px;
    max-width: 375px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .container {
    max-width: 768px;
    padding: 0 15px;
  }

  .section {
    padding: 16px 0;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 16px;
  }
}