/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header-hero.css');
@import url('./modal-menu.css');
@import url('./quote-of-the-day.css');
@import url('./exercises-muscules.css');
@import url('./exercises-body-parts.css');
@import url('./exercises-equipment.css');
@import url('./exercises-modal.css');
@import url('./recommendation-section.css');
@import url('./footer.css');

/* dm-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/dm-sans-v14-latin-regular.woff2') format('woff2'),
    url('../fonts/dm-sans-v14-latin-regular.ttf') format('truetype');
}

/* dm-sans-italic - latin */
@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/dm-sans-v14-latin-italic.woff2') format('woff2'),
    url('../fonts/dm-sans-v14-latin-italic.ttf') format('truetype');
}

/* dm-sans-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/dm-sans-v14-latin-500.woff2') format('woff2'),
    url('../fonts/dm-sans-v14-latin-500.ttf') format('truetype');
}

:root {
  font-family: "DM Sans";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



















.container {
  width: 100%;
  margin: 0 auto;
}

.section {
  padding: 20px 0;
}

@media screen and (min-width: 320px) and (max-width: 767.98px) {
  .container {
    max-width: 375px;
    padding: 0 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1287.98px) {
  .container {
    max-width: 768px;
    padding: 0 15px;
  }

  .section {
    padding: 16px 0;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 16px;
  }
}